junit.TransformServiceExamples.baseDir=${basedir}/build/example-xml/transform/
junit.SplitterServiceExamples.baseDir=${basedir}/build/example-xml/splitter/
junit.JsonPathServiceExamples.baseDir=${basedir}/build/example-xml/json-path/
